each item in items
  h3.text-left
    a(href="/articles/#{item.Address}") #{item.Title}
  p.text-left #{item.Abstract}
  a.small.notebook
    i.img.notebook
    | #{item.NotebookName}
  span.time #{item.LastUpdatedDate}
  hr